.header{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  box-shadow: 5px 5px 5px rgb(117, 106, 106);
  /* border: 1px solid black; */
}
.nav-items{
    /* flex-grow: 1; */
    width: 100%;
}
.nav-items > ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.nav-items > ul > li{
  padding: 10px;
}
.nav-links{
  text-decoration: none;
  color: black;
}
.nav-links:hover{
  color: blueviolet;
}

.logo{
  width: 150px;
  text-decoration: none;
}
.search-container{
  display: flex;
  justify-content: center;
}
.search-input{
  width: 500px;
  height: 35px;
  font-size: xx-large;
  padding: 5px;
}
.search-btn{
  width: 100px;
  height: 48px;
  font-size: x-large;
  font-weight: 100;
  padding: 5px;
  color: darkgray;
}
.card{
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px 5px whitesmoke;
  width: 275px;
  /* align-items: center; */
}
.card > img{
  border-radius: 50%;
  border: 5px solid green;
  width: 250px;
  height: 250px;
}
.restaurant-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.shimmer>.img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color:rgba(59, 55, 55, 0.153);
  margin: 5px;
}
a{
  text-decoration: none;
  color: black;
}
.restaurant-menu{
  display: flex;
  justify-content: space-around;
}
.restaurant-details{
  box-shadow: 4px 4px 4px rgb(158, 155, 155);
  padding: 20px;
  height: max-content;
}
.shimmer>h1{
  width: 200px;
  background-color: rgba(59, 55, 55, 0.153);
  margin: 5px;
}
.menu-recommended{
  text-align: center;
}
h1,h3,h4,h5{
  line-height: 0px;
}
h1{
  padding: 10px;
}
.menu-card{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 10px;
  box-shadow: 5px 5px 5px;
  padding: 10px;
}
.menu-img{
  width: 100px;
  height: 100px;
  border-radius: 20%;
  border: 1px solid green;
}

.menu-name{
  width: 400px;
}
.restaurant-details > img{
  width: 400px;
  height: 400px;
  border-radius: 30%;
  border: 2px solid green;
}
.veg{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.about-page{
  margin: auto;
  padding: 20px;
  width: 70%;
  box-shadow: 5px px 5px 5px;
}
.welcome-about-page{
  font-weight: 400;
  font-size: x-large;
}
.search-input-menu{
  width: 300px;
  height: 35px;
  font-size: large;
  padding: 5px;
}