.header{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  box-shadow: 5px 5px 5px rgb(117, 106, 106);
  /* border: 1px solid black; */
}
.nav-items{
    /* flex-grow: 1; */
    width: 100%;
}
.nav-items > ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.nav-items > ul > li{
  padding: 10px;
}
.nav-links{
  text-decoration: none;
  color: black;
}
.nav-links:hover{
  color: blueviolet;
}

.logo{
  width: 150px;
  text-decoration: none;
}
.search-container{
  display: flex;
  justify-content: center;
}
.search-input{
  width: 500px;
  height: 35px;
  font-size: xx-large;
  padding: 5px;
}
.search-btn{
  width: 100px;
  height: 48px;
  font-size: x-large;
  font-weight: 100;
  padding: 5px;
  color: darkgray;
}
.card{
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px 5px whitesmoke;
  /* align-items: center; */
}
.card > img{
  border-radius: 50%;
  border: 5px solid green;
  width: 250px;
  height: 250px;
}
.restaurant-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.shimmer>.img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color:rgba(59, 55, 55, 0.153);
  margin: 5px;
}
a{
  text-decoration: none;
  color: black;
}
.shimmer>h1,h3{
  width: 200px;
  background-color: rgba(59, 55, 55, 0.153);
  margin: 5px;
}
.menu-item{
  width: 100px;
  height: 100px;
}