.header{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  box-shadow: 5px 5px 5px rgb(117, 106, 106);
  /* border: 1px solid black; */
}
.nav-items{
    /* flex-grow: 1; */
    width: 100%;
}
.nav-items > ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.nav-items > ul > li{
  padding: 10px;
}
.nav-links{
  text-decoration: none;
  color: black;
}
.nav-links:hover{
  color: blueviolet;
}

.logo{
  width: 150px;
  text-decoration: none;
}
.card{
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
.card > img{
  width: 100%;
}
.restaurant-list{
  display: flex;
  flex-wrap: wrap;
}
.shimmer>.img{
  width: 200px;
  height: 200px;
  background-color:rgba(59, 55, 55, 0.153);
  margin: 5px;
}
.shimmer>h1{
  width: 200px;
  height: 20px;
  background-color: rgba(59, 55, 55, 0.153);
  margin: 5px;
}